# CODEOWNERS FOR THE FULLSTACK FRONTEND 

# These users are the default owners for everything in the repo.
* @sarwari-mallela
* @asaurasieu
* @papilioaureus
* @woonscode
* @11acc
* @smorenolasa1 
* @panchomb
* @clorenzol 
* @riyadmazari 

# Higher priority owners for the fullstack directory
/Fullstack-fe/* @smorenolasa1 @panchomb
